<!DOCTYPE html>
<html lang="en">
    <head th:replace="layouts/plantillas :: cabecera">
<body>
    <header th:replace="layouts/plantillas :: navegador"></header>
    <div class="row__red"></div>

    <h3 class="Estado_titulo">Cliente: CORPORACION LIMATAMBO</h3>

    <!-- TABLA DE DATOS  -->
    <div class="tabla__container">
        <div class="tabla__body">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Obra</th>
                        <th>Producto</th>
                        <th>Nro. Piezas</th>
                        <th>Estado OP</th>
                        <th>Almacen</th>
                        <th>Fecha OP</th>
                        <th>Orden Prod. (OP)</th>
                        <th>Factura</th>
                        <th>Estado Factua</th>
                        <th>Deuda</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- corregir cuando los campos estan vacios -->
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    <tr>
                        <td data-label="Obra">1</td>
                        <td data-label="Producto">1</td>
                        <td data-label="Nro. Pieza">1</td>
                        <td data-label="Estado OP">1</td>
                        <td data-label="Almacen">1</td>
                        <td data-label="Fecha de OP">1</td>
                        <td data-label="Orden Produccion (OP)">1</td>
                        <td data-label="Factura">1</td>
                        <td data-label="Estado Factura">1</td>
                        <td data-label="Deuda">1</td>
                    </tr>
                    

                    
                    
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>